#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  border: 0px;
  padding: 0px;
  margin: 0px;
  /*background: rgb(57,188,198);*/
  /*background: radial-gradient(circle, rgba(57,188,198,0.05084031903777131) 20%, rgba(57,188,198,0.5802520837436538) 73%, rgba(59,17,97,1) 100%);*/
}
body {
  border: 0px;
  padding: 0px;
  margin: 0px;

}

